.nosotros{
    grid-area: nosotros;
    color: rgb(79, 66, 26);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.historiaTitulo{
    margin-right: 300px;
    margin-left: 300px;
    color: rgb(79, 66, 26);
    font-family:Georgia, 'Times New Roman', Times, serif;
}